* {
  padding: 0;
  margin: 0 auto;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  min-width: 320px;
  background-color: #0e8a98;
}

.ui-body {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 1%;
  min-height: 50px;
  background-color: #fcac23;
}

.ui-body-c, .ui-overlay-c {
  text-shadow: 0px;
}

.ui-page .ui-header {
  position: fixed;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: inset 0px 0px 10px 1px #0e8a98;
  -moz-box-shadow: inset 0px 0px 10px 1px #0e8a98;
  -ms-box-shadow: inset 0px 0px 10px 1px #0e8a98;
  -o-box-shadow: inset 0px 0px 10px 1px #0e8a98;
  box-shadow: inset 0px 0px 10px 1px #0e8a98;
  background: #00acbd url("../images/UogLogo-Dark.gif") no-repeat center center;
}
.ui-page .ui-header .page-title {
  width: 100%;
  height: 50px;
  margin: 0 auto;
}

.ui-page .ui-header .ui-btn {
  width: 50px;
  height: 50px;
}

.ui-page .ui-header .ui-btn {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  display: inline-flex;
  border-color: #00254a;
  background-color: #0e8a98;
}
.ui-page .ui-header .ui-btn:first-child {
  background: #0e8a98 url("../images/icons/carat-l-black.png") no-repeat center center;
}
.ui-page .ui-header .ui-btn:last-child {
  background: #0e8a98 url("../images/icons/home-black.png") no-repeat center center;
}

.header-filler {
  width: 100%;
  height: 50px;
  visibility: hidden;
}

.ui-page .ui-main {
  border-top: 0px;
}

#home-page .square-content-container a:nth-child(1n) .page-button {
  background: url(../images/icons/bullets-black.png) no-repeat center center;
  background-size: 50px 50px;
  background-color: #f68c28;
  -webkit-box-shadow: inset 0px 0px 10px 1px #f48229;
  -moz-box-shadow: inset 0px 0px 10px 1px #f48229;
  -ms-box-shadow: inset 0px 0px 10px 1px #f48229;
  -o-box-shadow: inset 0px 0px 10px 1px #f48229;
  box-shadow: inset 0px 0px 10px 1px #f48229;
}
#home-page .square-content-container a:nth-child(1n) .page-button:hover {
  background-color: #f48229;
}

#home-page .square-content-container a:nth-child(2n) .page-button {
  background: url(../images/icons/location-black.png) no-repeat center center;
  background-size: 50px 50px;
  background-color: #ef3a25;
  -webkit-box-shadow: inset 0px 0px 10px 1px #ff2e15;
  -moz-box-shadow: inset 0px 0px 10px 1px #ff2e15;
  -ms-box-shadow: inset 0px 0px 10px 1px #ff2e15;
  -o-box-shadow: inset 0px 0px 10px 1px #ff2e15;
  box-shadow: inset 0px 0px 10px 1px #ff2e15;
}
#home-page .square-content-container a:nth-child(2n) .page-button:hover {
  background-color: #ff2e15;
}

#home-page .square-content-container a:nth-child(3n) .page-button {
  background: url(../images/icons/edit-black.png) no-repeat center center;
  background-size: 50px 50px;
  background-color: #00abbd;
  -webkit-box-shadow: inset 0px 0px 10px 1px #03a4b6;
  -moz-box-shadow: inset 0px 0px 10px 1px #03a4b6;
  -ms-box-shadow: inset 0px 0px 10px 1px #03a4b6;
  -o-box-shadow: inset 0px 0px 10px 1px #03a4b6;
  box-shadow: inset 0px 0px 10px 1px #03a4b6;
}
#home-page .square-content-container a:nth-child(3n) .page-button:hover {
  background-color: #03a4b6;
}

#home-page .square-content-container a:nth-child(4n) .page-button {
  background: url(../images/icons/user-black.png) no-repeat center center;
  background-size: 50px 50px;
  background-color: #fcac23;
  -webkit-box-shadow: inset 0px 0px 10px 1px #ffb31d;
  -moz-box-shadow: inset 0px 0px 10px 1px #ffb31d;
  -ms-box-shadow: inset 0px 0px 10px 1px #ffb31d;
  -o-box-shadow: inset 0px 0px 10px 1px #ffb31d;
  box-shadow: inset 0px 0px 10px 1px #ffb31d;
}
#home-page .square-content-container a:nth-child(4n) .page-button:hover {
  background-color: #ffb31d;
}

#home-page .square-content-container a:nth-child(5n) .page-button {
  background: url(../images/icons/info-black.png) no-repeat center center;
  background-size: 50px 50px;
  background-color: #ab3e97;
  -webkit-box-shadow: inset 0px 0px 10px 1px #ab339d;
  -moz-box-shadow: inset 0px 0px 10px 1px #ab339d;
  -ms-box-shadow: inset 0px 0px 10px 1px #ab339d;
  -o-box-shadow: inset 0px 0px 10px 1px #ab339d;
  box-shadow: inset 0px 0px 10px 1px #ab339d;
}
#home-page .square-content-container a:nth-child(5n) .page-button:hover {
  background-color: #ab339d;
}

#home-page .square-content-container a:nth-child(6n) .page-button {
  background: url(../images/icons/gear-black.png) no-repeat center center;
  background-size: 50px 50px;
  background-color: #a8cf42;
  -webkit-box-shadow: inset 0px 0px 10px 1px #afd740;
  -moz-box-shadow: inset 0px 0px 10px 1px #afd740;
  -ms-box-shadow: inset 0px 0px 10px 1px #afd740;
  -o-box-shadow: inset 0px 0px 10px 1px #afd740;
  box-shadow: inset 0px 0px 10px 1px #afd740;
}
#home-page .square-content-container a:nth-child(6n) .page-button:hover {
  background-color: #afd740;
}

#soc-media-page .square-content-container a:nth-child(1n) .page-button {
  background: #df2826 url(../images/icons/google+.png) no-repeat center center;
  background-size: 50px 50px;
  background-color: #f68c28;
}

#soc-media-page .square-content-container a:nth-child(2n) .page-button {
  background: #5ea9dd url(../images/icons/twitter.png) no-repeat center center;
  background-size: 50px 50px;
  background-color: #ef3a25;
}

#soc-media-page .square-content-container a:nth-child(3n) .page-button {
  background: #3a5795 url(../images/icons/facebook.png) no-repeat center center;
  background-size: 50px 50px;
  background-color: #00abbd;
}

#soc-media-page .square-content-container a:nth-child(4n) .page-button {
  background: #dd4b39 url(../images/icons/youtube.png) no-repeat center center;
  background-size: 50px 50px;
  background-color: #fcac23;
}

#soc-media-page .square-content-container a:nth-child(5n) .page-button {
  background: #ab339d url(../images/icons/comment-black.png) no-repeat center center;
  background-size: 50px 50px;
  background-color: #ab3e97;
}

#soc-media-page .square-content-container a:nth-child(6n) .page-button {
  background: #afd740 url(../images/icons/action-black.png) no-repeat center center;
  background-size: 50px 50px;
  background-color: #a8cf42;
}

#courses-page .strip-content-container a {
  text-decoration: none;
}
#courses-page .strip-content-container a .page-button p {
  color: white;
  text-color: black;
}
#courses-page .strip-content-container a:nth-child(1n) .page-button {
  background: #ef3a25 url("../images/icons/carat-r-black.png") no-repeat right center;
  background-size: 25px 25px;
}
#courses-page .strip-content-container a:nth-child(2n) .page-button {
  background: #fcac23 url("../images/icons/carat-r-black.png") no-repeat right center;
  background-size: 25px 25px;
}
#courses-page .strip-content-container a:nth-child(3n) .page-button {
  background: #a8cf42 url("../images/icons/carat-r-black.png") no-repeat right center;
  background-size: 25px 25px;
}

.square-content-container a .page-button {
  float: left;
  width: 50%;
  height: 0;
  padding-bottom: 50%;
}
.square-content-container a .page-button p, .square-content-container a .page-button #courses-page .strip-content-container a .page-button p {
  margin-top: 20px;
  text-transform: capitalize;
  font-size: 25px;
  text-align: center;
  color: white;
}

#courses-page .strip-content-container a .page-button p {
  margin-left: 20px;
}

.strip-content-container a .page-button {
  margin: 0 auto;
  width: 100%;
  height: 60px;
  background: none;
}
.strip-content-container a .page-button p {
  font-size: 35px;
  line-height: 60px;
}

#mapDiv {
  width: 100%;
  margin: 0 auto;
  background: url("../images/spiffygif_30x30.gif") no-repeat center center;
  background-color: white;
}

form input {
  margin: 0 auto;
  width: 100%;
}

.ui-corner-all {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
  border: none;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  text-shadow: none;
  vertical-align: middle;
  -webkit-text-shadow: 0px 0px 5px black;
  -moz-text-shadow: 0px 0px 5px black;
  -ms-text-shadow: 0px 0px 5px black;
  -o-text-shadow: 0px 0px 5px black;
  text-shadow: 0px 0px 5px black;
}
.ui-overlay-a:link, .ui-overlay-a:visited, .ui-overlay-a:hover, .ui-overlay-a:active, .ui-page-theme-a:link, .ui-page-theme-a:visited, .ui-page-theme-a:hover, .ui-page-theme-a:active, .ui-page-theme-a .ui-panel-wrapper:link, .ui-page-theme-a .ui-panel-wrapper:visited, .ui-page-theme-a .ui-panel-wrapper:hover, .ui-page-theme-a .ui-panel-wrapper:active {
  color: white;
}

.ui-icon, .ui-icon-searchfield:after {
  background-color: #0e8a98;
}

.ui-btn-corner-all {
  border-radius: 0px;
}

.ui-collapsible-heading,
.ui-collapsible-heading > .ui-btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

.ui-collapsible-inset,
.ui-collapsible-set {
  margin: 0 auto;
}

#message {
  display: none;
  border-radius: 10px;
  padding: 10px;
  background-color: red;
  color: white;
}

#storageDemoPage h2 {
  white-space: normal;
}

.ui-content {
  padding: 0px;
  margin: 0 auto;
}

.ui-content .ui-listview-inset, .ui-panel-inner > .ui-listview-inset {
  margin: 20px auto;
}

.ui-bar-b {
  border: 0px;
  background: #e65a52;
}
