<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.reecekelly.universityofgloucestershirecomputing"
        version   = "1.0.0">
		
		<name>University of Gloucestershire Computing</name>
		<description>An easy to use app for new or existing students studing a computing based course at the Universty of Gloucestershire.</description>
		<author href="http://reecekelly.comyr.com/">Reece Kelly</author>
		
		<feature name="http://api.phonegap.com/1.0/device" />
		
		<!--<preference name="permissions" value="none" />-->
		<preference name="orientation" value="portrait" />
		<preference name="target-device" value="universal" />
		<preference name="fullscreen" value="true" />
		<preference name="auto-hide-splash-screen" value="false" />
		
		<!-- Core plugins -->
		<gap:plugin name="org.apache.cordova.battery-status" />
		<gap:plugin name="org.apache.cordova.camera" />
		<gap:plugin name="org.apache.cordova.media-capture" />
		<gap:plugin name="org.apache.cordova.console" />
		<gap:plugin name="org.apache.cordova.contacts" />
		<gap:plugin name="org.apache.cordova.device" />
		<gap:plugin name="org.apache.cordova.device-motion" />
		<gap:plugin name="org.apache.cordova.device-orientation" />
		<gap:plugin name="org.apache.cordova.dialogs" />
		<gap:plugin name="org.apache.cordova.file" />
		<gap:plugin name="org.apache.cordova.file-transfer" />
		<gap:plugin name="org.apache.cordova.geolocation" />
		<gap:plugin name="org.apache.cordova.globalization" />
		<gap:plugin name="org.apache.cordova.inappbrowser" />
		<gap:plugin name="org.apache.cordova.media" />
		<gap:plugin name="org.apache.cordova.network-information" />
		<gap:plugin name="org.apache.cordova.splashscreen" />
		<gap:plugin name="org.apache.cordova.vibration" />
		
		<icon src="images/glostershire-intro.png" />
		
		<access origin="*"/>
</widget>