@import prod

$HeaderHeight : 80px
$tabletmultiplier : 0.9

.ui-page .ui-header, .header-filler
	height : $HeaderHeight
	background-size : auto $HeaderHeight*0.8

.ui-page .ui-header .ui-btn
	+dimensions($HeaderHeight*$tabletmultiplier, $HeaderHeight*$tabletmultiplier)
	
	&:first-child
		background-size : $HeaderHeight*$tabletmultiplier $HeaderHeight*$tabletmultiplier
		
	&:last-child
		background-size : $HeaderHeight*$tabletmultiplier $HeaderHeight*$tabletmultiplier