@import prod-sass

$mobile-home-image : 300px 300px

body
	width: 100%	
		
header, footer
	display: none

#content-container-home
	display: initial
	
.square-content-container a .page-button p
	font-size : 45px