@import prod
@import variables

//General css		----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*
	padding : 0
	margin : 0 auto
	
.ui-body-c, .ui-overlay-c
	text-shadow : 0px
	
.ui-page
	background : #192945

//Header css		----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
.ui-page .ui-header
	position : fixed
	+dimensions(100%, $HeaderHeight)
	+box-shadow-inner($InnerShadowValues, nth($headerbutton, 1))
	background : $headercolor url("../images/UogLogo-Dark.gif") no-repeat center center
	background-size : auto $HeaderHeight*0.8

	& .page-title
		+dimensions(100%, $HeaderHeight)
		margin : 0 auto

// Adds colour, images			
.ui-page .ui-header .ui-btn
	+dimensions($HeaderHeight*0.8, $HeaderHeight*0.8)
	+border-radius(0px)
	display: inline-flex
	border-color : $bordercolor
	background-color : nth($headerbutton, 1)
	
	&:first-child
		background  : nth($headerbutton, 1) url("../images/icons/carat-l-black.png") no-repeat center center

	&:last-child	
		background  : nth($headerbutton, 1) url("../images/icons/home-black.png") no-repeat center center
	
.header-filler
	+dimensions(100%, $HeaderHeight)
	visibility: hidden
	
//Body css			----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
.ui-page .ui-main
	border-top : 0px

//Background colours and images for main page
@for $i from 1 through length($BackgroundArray)
	#home-page .square-content-container a:nth-child(#{$i}n) .page-button
		background : url(#{nth($HomeImagesArray, $i)}) no-repeat center center
		background-size : 50px 50px
		background-color : nth($BackgroundArray, $i)
		+box-shadow-inner($InnerShadowValues, nth($BackgroundArrayShadow, $i))

		&:hover
			background-color : nth($BackgroundArrayShadow, $i)

//Background colours and images for media page			
@for $i from 1 through length($SocialMediaColor)
	#soc-media-page .square-content-container a:nth-child(#{$i}n) .page-button
		background  : nth($SocialMediaColor, $i) url(#{nth($SocialMediaIcon, $i)}) no-repeat center center
		background-size : 50px 50px
		background-color : nth($BackgroundArray, $i)

#courses-page .strip-content-container a
	text-decoration : none
	
	& .page-button p
		color : #ffffff
		text-color : #000000
	
	@for $i from 1 through length($CourseBackground)
		&:nth-child(#{$i}n) .page-button
			background : nth($CourseBackground, $i) url("../images/icons/carat-r-black.png") no-repeat right center
			background-size : 25px 25px

//Main button css
.square-content-container a .page-button
	float : left
	width : 50%
	height : 0
	padding-bottom : 50%

	& p, #courses-page .strip-content-container a .page-button p
		margin-top : 20px
		text-transform : capitalize
		text-decoration : none
		font-size : 25px
		text-align : center
		color : #ffffff		
			
#courses-page .strip-content-container a .page-button p
	margin-left : 20px
		
			
.strip-content-container a .page-button
	margin : 0 auto
	+dimensions(100%, $strip-height)
	background : none

	& p
		font-size : 35px
		line-height : $strip-height

#mapDiv
	width : 100%
	margin : 0 auto
	background  : url("../images/spiffygif_30x30.gif") no-repeat center center
	background-color : #ffffff
 
form input
	margin : 0 auto
	width : 100%
	
.ui-corner-all
	+border-radius(0px)

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, 
html .ui-bar-a .ui-bar-inherit, 
html .ui-body-a .ui-bar-inherit, 
html body .ui-group-theme-a .ui-bar-inherit
	border: none
	
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper
	text-shadow : none
	vertical-align : middle
	+text-shadow(0px 0px 5px, #000000)
	
	&:link, &:visited, &:hover, &:active
		color : #ffffff

// Change icon background color
.ui-icon, .ui-icon-searchfield:after
	background-color : nth($headerbutton, 1)

// Note border edge
.ui-btn-corner-all
	border-radius : 0px
	
// Remove curved edge to the expandable tabs	
.ui-collapsible-heading, 
.ui-collapsible-heading > .ui-btn
	+border-radius(0px)

// Remove margin to collection of expanderable tabs	
.ui-collapsible-inset,
.ui-collapsible-set
	margin : 0 auto
	
.ui-collapsible-content
	background : #ffffff
	
//Notetaking			----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----	
#message
	display : none
	border-radius : 10px
	padding : 10px
	background-color : #ff0000
	color : #fff

#storageDemoPage h2
	white-space : normal
	
.ui-content
	padding : 0px
	margin : 0 auto

.ui-content .ui-listview-inset, .ui-panel-inner > .ui-listview-inset
	margin : 20px auto

// note taking coloured bars	
.ui-bar-b
	border : 0px
	background : nth($headerbutton, 2)
	
// Changes the notetaking text size	
.ui-li-divider
	font-size : 25px
	text-align : center
	
@media only screen and (min-device-width : $tablets) and (max-device-width : $destops)
	@import mobile-media